*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
} 

html{
    scroll-behavior: smooth;
    font-size: 62.5%;   
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: #1C1C1C;
    color: #F5E8D8;
} 

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.2));
}

.logo{
    font-size: 3rem;
    color: #FF7E5F;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo:hover{
    color: #f5E8D8;
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: #f5E8D8;
    font-weight: 500;
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
} 

nav a:hover,
nav a.current-page{
    color: #FF7E5F;
    border-bottom: 3px solid #FF7E5F;
}

.profile-img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10%;
    border: 3px solid #FF7E5F ;
}



/*@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #FF7E5F;
        border-bottom: 3px solid #FF7E5F;
        border-bottom-left-radius: 10px;
        background-color: #161616;
        border-top: 3px solid rgba(0,0,0,0.1);

    }

    nav.current-page{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.current-page{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #FF7E5F;
    }
}*/

 section{
        min-height: 100vh;
        padding: 5rem 9% 5rem;
    }
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #1C1C1C;
}

.home .home-content{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;

}